{% extends "base.html" %}

{% block content %}
  {{post.render(post.uid) | safe}}
  <br><br>
  <form method="post">
  {% if posted_by_user: %}
  <a href="/blog/edit/{{post.key().id()}}">Edit Post</a>
  {% else: %}
  	<input class="link-like" type="submit" value="{{like}}">
  {% endif %}
   | 
  <a href="/blog/comment/{{post.key().id()}}">Comment</a>
  </form>
  <br><br><br>
	<h3>Comments</h3>
  <hr>
  {% if comments.count() == 0: %}
    <p>Be the first to post comments!</p>
  {% else: %}
    {% for comment in comments: %}
      {{ comment.render(comment.uid, uid) | safe }}
    {% endfor %}
  {% endif %}
{% endblock %}
