{% extends "base.html" %}

{% block content %}

  <h2>
  {% if newpost: %}
    New Post
  {% else: %}
    Edit Post
  {% endif %}
  </h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
      <a href="/blog">Cancel</a>
      {% if not newpost: %}
        <a href="/blog/delete/{{post_id}}">Delete</a>
      {% endif %}
    </form>

{% endblock %}
