{% extends "base.html" %}

{% block content %}

  <h2>
  {% if newpost: %}
    New Post
  {% else: %}
    Edit Post
  {% endif %}
  </h2>
  
    <form method="post">
      <div class="newpost-form">
        <label>
          <div>subject</div>
          <input type="text" name="subject" value="{{subject}}">
        </label>

        <label>
          <div>blog</div>
          <textarea name="content">{{content}}</textarea>
        </label>

        <div class="error">{{error}}</div>

        <input class="submit-btn" type="submit">
        <a href="/blog">Cancel</a>
        {% if not newpost: %}
        <div class="right">
          <a class="delete-btn" href="/blog/delete/{{post_id}}">Delete</a>
        </div>
        {% endif %}
      </div>
    </form>

{% endblock %}
